mixin getGrade(fich)
    - let perm = USERS[fich.auteur].grade
    if(perm == 1)
        span.visiteur
            | #{USERS[fich.auteur].prenom} #{USERS[fich.auteur].nom} (Visiteur)
    if(perm == 2)
        span.contributeur
            | #{USERS[fich.auteur].prenom} #{USERS[fich.auteur].nom} (Contributeur)
    if(perm == 3)
        span.moderateur
            | #{USERS[fich.auteur].prenom} #{USERS[fich.auteur].nom} (Modérateur)
    if(perm == 4)
        span.developpeur
            | #{USERS[fich.auteur].prenom} #{USERS[fich.auteur].nom} (Développeur)
    if(perm == 5)
        span.administrateur
            | #{USERS[fich.auteur].prenom} #{USERS[fich.auteur].nom} (Administrateur)

mixin getGradeFromUser(user)
    if (user !== undefined)
        if (user.grade !== undefined)
            - let perm = user.grade
            if(perm == 1)
                span.visiteur
                    | #{user.prenom} #{user.nom} (Visiteur)
            if(perm == 2)
                span.contributeur
                    | #{user.prenom} #{user.nom} (Contributeur)
            if(perm == 3)
                span.moderateur
                    | #{user.prenom} #{user.nom} (Modérateur)
            if(perm == 4)
                span.developpeur
                    | #{user.prenom} #{user.nom} (Développeur)
            if(perm == 5)
                span.administrateur
                    | #{user.prenom} #{user.nom} (Administrateur)

mixin afficherGrade(user)
    if (user.grade == 1)
        span(style="color: rgb(47, 54, 54);")
            | #{user.prenom} #{user.nom} (Visiteur)
    if (user.grade == 2)
        span(style="color: rgb(51, 211, 30);")
            | #{user.prenom} #{user.nom} (Contributeur)
    if (user.grade == 3)
        span(style="color: rgb(52, 64, 233);")
            | #{user.prenom} #{user.nom} (Modérateur)
    if (user.grade == 4)
        span(style="color: rgb(139, 29, 167);")
            | #{user.prenom} #{user.nom} (Développeur)
    if (user.grade == 5)
        span(style="color: rgb(245, 130, 37);")
            | #{user.prenom} #{user.nom} (Administrateur)

mixin grade(user)
    if (user.grade == 1)
        span(style="color: rgb(47, 54, 54);")
            | (Visiteur)
    if (user.grade == 2)
        span(style="color: rgb(51, 211, 30);")
            | (Contributeur)
    if (user.grade == 3)
        span(style="color: rgb(52, 64, 233);")
            | (Modérateur)
    if (user.grade == 4)
        span(style="color: rgb(139, 29, 167);")
            | (Développeur)
    if (user.grade == 5)
        span(style="color: rgb(245, 130, 37);")
            | (Administrateur)


<!DOCTYPE html>
html(lang='fr')
    head
        block titre
            title Charlinfo
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1")
        link(link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
        link(rel="stylesheet", href="/styles/design.css")
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        link(rel="shortcut icon" type="image/png" href="/favicon.png")
        block styles
        block scripts
    body
        nav(class="navbar navbar-expand-lg navbar-dark bg-info")
            a(class="navbar-brand" href="/")
                img(src="/favicon.png" width="30px" height="30px" alt="CHARLINFO")
                |   #{VERSION.nom}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            div(class="collapse navbar-collapse" id="navbarNav")
                ul(class="navbar-nav mr-auto")
                    if(USER !== undefined && USER.grade >= 4)
                        li(class="nav-item dropdown")
                            a(class="nav-link dropdown-toggle" href="/cours" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Cours
                            div(class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink")
                                a(class="dropdown-item" href="/cours") Cours
                                a(class="dropdown-item" href="/cours/ajouter") Ajouter un cours
                                a(class="dropdown-item" href="/cours/modifier") Modifier un cours
                    if USER !== undefined
                        li(class="nav-item")
                            a(class="nav-link" href=`/cours/${USER.idformation}/1`) S1
                        li(class="nav-item")
                            a(class="nav-link" href=`/cours/${USER.idformation}/2`) S2
                        li(class="nav-item")
                            a(class="nav-link" href=`/cours/${USER.idformation}/3`) S3
                        li(class="nav-item")
                            a(class="nav-link" href=`/cours/${USER.idformation}/4`) S4
                    if(USER !== undefined && USER.grade >= 3)
                        li(class="nav-item")
                            a(class="nav-link" href="/users") Utilisateurs
                    li(class="nav-item active")
                        a(class="nav-link" href="/") Accueil
                if(USER !== undefined)
                    span(class="navbar-nav")
                        li(class="nav-item dropdown dropleft")
                            a(class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                img(class="rounded-circle" src="/images/user-icon.png" alt="Profil" width="30px" height="30px")
                            div(class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink")
                                a(class="dropdown-item" href="/users/"+USER.id title="Profil") Profil
                                a(class="dropdown-item" href="/deconnexion" title="déconnexion") Déconnexion
                                
        .container-fluid.mt-4
            block contenu