extends includes/MENU.pug

block contenu
    h1(class="border-bottom p-1 m-1" style="text-align: right;") Envoi de fichier
    br
    form(action=`/cours/${currCours}/ajouter/` method="post" encType="multipart/form-data")
        div(class="form-group mx-auto border container p-3")
            h2(class) Envoi
            label(for="titre") Titre (50 caractères maximum) *
            input(class="form-control" type="text" name="titre" maxlength="50" autofocus required)
            br
            label(for="type") Type *
            select(class="form-control" name="type" required)
                option Cours
                option Exercices
                option Aide
                option Corrigé
                option DM
            br
            label(for="desc") Description (entre 10 et 500 caractères) *
            textarea(class="form-control" name="desc" minlength="10" maxlength="500" required rows="12" cols="70")
            br 
            label(for="contenu") Fichier
            input(class="form-control" type="file" name="contenu" autofocus required)
            br
            input(type="submit")
            br
            if(erreurTaille !== undefined)
                p.red= erreurTaille
                br