extends includes/MENU.pug

block contenu
    div(class="container col-10 my-5")
        .row
            p Voici Charlinfo, le site qui répertorie les cours de la promo informatique de l'IUT Charlemagne !
                br
                | Si tu te connectes pour la première fois, tu dois remplir la colonne Inscription. Le nom d'utilisateur, c'est ton identifiant UL (par exemple "dupont4u"). Le mot de passe, c'est toi qui le choisis et il est stocké crypté en base de données.
                br
                | Si tu ne te connectes pas pour la première fois, il suffit de te connecter avec ton identifiant UL, et ton mot de passe.
        .connexion-box
            form(class="p-4 connexion-component rainbow bg-success" action="/connexion/" method="post")
                    h2(class="text-center m-3") Connexion
                    label(for="user") Nom d'utilisateur *
                    input(class="" type="text" name="user" autofocus required)
                    label(for="pass") Password *
                    input(type="password" name="pass" autofocus required)
                    input(type="submit" class="btn btn-primary" value="Se connecter")
                    p.text-danger #{erreurLogin}
            form(class="p-4 connexion-component rainbow bg-success" action="/inscription/" method="post")
                    h2(class="text-center m-3") Inscription
                    label(for="user") Nom d'utilisateur *
                    input(type="text" name="user" autofocus required)
                    label(for="prenom") Prénom *
                    input(type="text" name="prenom" autofocus required)
                    label(for="nom") Nom *
                    input(type="text" name="nom" autofocus required)
                    label(for="formation") Formation *
                    select(name="formation" class="form-control m-3 w-auto" required)
                        option DUT Informatique
                    label(for="pass") Password *
                    input(type="password" name="pass" autofocus required)
                    input(type="submit" class="btn btn-primary" value="S'inscrire")
                    p.text-danger #{erreurSub}