div(class="card-design mb-4" style=`background: ${color}`)
    div
        h5 #{fich.nom}
        p(style="whiteSpace: pre-line" class="description") #{fich.description}
        p(class="creator") Fait par : 
            b 
            +afficherGrade({"prenom": fich.prenom, "nom": fich.nomfamille, "grade": fich.grade})
        p
            b Date : 
            - let dat_bis = new Date(fich.datefich)
            - let d_bis = (DATE.dateDDMMYYYY(dat_bis) + ", "+ DATE.dateHHMMSS(dat_bis));
            |#{d_bis}
        if (fich.extension == undefined)
            a(href=`/cours/${COURS.id}/${fich.id}` download=fich.nom)
        else
            a(href=`/cours/${COURS.id}/${fich.id}.${fich.extension}` download=`${fich.nom}.${fich.extension}`)
                div(class="download_button")
                    <p>Download</p>
                    div(class="icon")
                        img(src="/images/arrow-pointing-to-right.png" alt="arrow")

    if (USER.grade >= 3 || fich.idauteur == USER.id)
        a(class="remove-bar" href=`/cours/${COURS.id}/${fich.id}/supprimer`)
            img(src="/images/cancel.png" alt="remove icon" width="16px")