extends includes/MENU.pug

block contenu
    h1(class="border-bottom p-1 m-1" style="text-align: right;") Supprimer un cours
    if (COURS.length === undefined)
        - COURS = [COURS]
    div(class="container col-10")
        .row
            each cours in COURS
                .div(class="col-6 border")
                    h4 #{cours.nom}
                    form(action="/cours/modifier/"+cours.id method="post")
                        label(for="type") Type *
                        select(class="form-control" name="type" required)
                            option Informatique
                            if(cours.type === 'Générale')
                                option(selected) Générale
                            else
                                option Générale
                        br
                        label(for="couleur") Couleur *
                        br
                        input(type='color' name="couleur" value=cours.couleur required)
                        br
                        br
                        input(type="submit" value="Modifier")
                    br 
                    form(action="/cours/supprimer/"+cours.id method="post")
                        input(type="submit" value="Supprimer")
                        br