extends includes/MENU.pug

block titre
    title Charlinfo - #{COURS.nom}

block contenu
    h1(class="border-bottom p-1 m-1" style="text-align: right;")= COURS.nom
    p= COURS.description
    if (PROF !== undefined)
        if (PROF.prenom !== undefined)
            p Le professeur #{PROF.prenom} #{PROF.nom} est en charge de ce cours.
        else
            p Les professeurs
                each prof in PROF
                    |  #{prof.prenom} #{prof.nom},
                |  sont en charge de ce cours.
    else
        p Aucun professeur n'est en charge de ce cours.
    .adding-zone
        a(class="add-icon" href=`/cours/ajoutFichier/${COURS.id}`)
            img(src="/images/add-icon.png" alt="add icon")
        small(class="text-center mb-3") Ajouter un fichier
    
    if (FICHIER !== undefined)
        div(class=`displayClass mb-add-button ${FICHIER.number < 4 ? 'container' : ''}`) 
            if(FICHIER.cours.length !== 0)
                div
                    h2(class="mb-3") Cours
                    each fich in FICHIER.cours
                        - let color = '#17a2b8'
                        include coursBox.pug
            if(FICHIER.exercices.length !== 0)
                div
                    h2(class="mb-3") Exercices
                    each fich in FICHIER.exercices
                        - let color = '#616161'
                        include coursBox.pug
            if(FICHIER.corrige.length !== 0)
                div
                    h2(class="mb-3") Corrigé
                    each fich in FICHIER.corrige
                        - let color = '#43A047'
                        include coursBox.pug
            if(FICHIER.aide.length !== 0)
                div
                    h2(class="mb-3") Aide
                    each fich in FICHIER.aide
                        - let color = '#3F51B5'
                        include coursBox.pug
            if(FICHIER.dm.length !== 0)
                div
                    h2(class="mb-3") DM
                    each fich in FICHIER.dm
                        - let color = '#F57C00'
                        include coursBox.pug
    else
        p Aucun fichier n'est actuellement disponible pour ce cours.


    script.
        let lastY = 0;
        let add = document.getElementsByClassName('adding-zone')[0];
        window.addEventListener('scroll',function(e) {
            if(lastY < window.scrollY)
                add.style.transform = 'translate(0, 0)'
            else
                add.style.transform = 'translate(0, 81px)'
            lastY = window.scrollY;
        });
    script