extends includes/MENU.pug

block contenu
    h1(class="border-bottom p-1 m-1" style="text-align: right;") Semestres
    if (SEMESTRES !== undefined)
        div(class="container col-9")
            p Pour la formation #{SEMESTRES.nom}, il y a #{SEMESTRES.duree} semestres. Les cours sont regroupés par semestre :
            - let sem = 1
            span(class="border-3 border-primary")
                .row
                    while sem <= SEMESTRES.duree
                        div(class="col-3 col-lg-3 col-md-4 col-sm-6")
                            h2
                                a(href=`/cours/${formationId}/${sem}`) Semestre #{sem}
                            - sem++
    else
        p La formation spécifiée n'existe pas.