extends includes/MENU.pug

block contenu
    h1(class="border-bottom p-1 m-1" style="text-align: right;") Utilisateurs
    if (USERS.length === undefined)
        - USERS = [USERS]
    if (USER.grade >= 4)
        br
        form(action="/users/ajouter" method="post" encType="multipart/form-data")
            div(class="form-group col-8 mx-auto border p-3")
                h2 Ajouter un utilisateur
                label(for="id") ID
                input(class="form-control" type="text" name="id" maxlength="50" autofocus required)
                br
                input(type="submit")
                br
    div(class="container col-10")
        .row
            each u in USERS
                div(class="col-xl-3 col-lg-3 col-md-4 col-sm-6 p-3 border")
                    p #{u.id} <br>
                        +afficherGrade(u, u.grade)
                        <br>
                        | #{u.nomformation}
                        br
                        if (u.datecreation !== undefined)
                            | #{DATE.dateDDMMYYYY(u.datecreation)}, #{DATE.dateHHMMSS(u.datecreation)} <br>
                        a(href="/users/"+u.id).admin Compte
                    .dropdown
                        button(type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown") Actions
                        .dropdown-menu
                            if (USER.grade >= 5 && u.id !== USER.id && u.grade < 5)
                                a(href="/users/"+u.id+"/supprimer" class="dropdown-item bg-danger text-white p-1 border") SUPPRIMER
                            if (USER.grade > u.grade)
                                if (u.motdepasse == "BANNI")
                                    a(href="/users/"+u.id+"/debannir" class="dropdown-item bg-success text-white p-1 border") DEBANNIR
                                else
                                    a(href="/users/"+u.id+"/bannir" class="dropdown-item bg-warning text-white p-1 border") BANNIR
                                if (u.grade > 1)
                                    a(href="/users/"+u.id+"/retrograder" class="dropdown-item bg-warning text-white p-1 border") RETROGRADER
                            if ((USER.grade > u.grade+1 || USER.grade >= 5) && u.grade < 5)
                                a(href="/users/"+u.id+"/promouvoir" class="dropdown-item bg-success text-white p-1 border") PROMOUVOIR
