extends includes/MENU.pug

block contenu
    style
        include ../public/styles/desactive.css
    h1(class="border-bottom p-1 m-1 mb-4 responsive-title" style="text-align: right;") Profil de #{paramUser.id}
    div(class="text-center")
        <svg class="mt-n2 responsive-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#17a2b8" fillOpacity="1" d="M0,192L80,208C160,224,320,256,480,224C640,192,800,96,960,96C1120,96,1280,192,1360,240L1440,288L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
        </svg>
            img(class="mb-3" src="/images/user-icon.png" alt="Profile icon" width=100)
            h3 #{paramUser.nom} #{paramUser.prenom}
            p(class="text-muted")
                +grade(paramUser)
            div(class="mt-n5 responsive-svg")
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <linearGradient id="gradient1">
                        <stop offset="5%" stop-color="#0099ff" />
                        <stop offset="95%" stop-color="#e7008a" />
                    </linearGradient>
                    <path fill=url(#gradient1) fillOpacity="1" d="M0,96L80,128C160,160,320,224,480,256C640,288,800,288,960,245.3C1120,203,1280,117,1360,74.7L1440,32L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="url(#gradient1)" fillOpacity="1" d="M0,32L80,42.7C160,53,320,75,480,74.7C640,75,800,53,960,48C1120,43,1280,53,1360,58.7L1440,64L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>

            ul(class="list-group list-group-flush responsive-ul")
                button(data-toggle="collapse" data-target="#upload" class="text-body list-group-item user-button")
                    .d-flex.align-items-center
                        img(src="/images/uploading.png" alt="profil icon" class="profil-icon")
                        h5(class="m-0 ml-5") Fichier uploadés
                    img(src="/images/chevron-right.svg" class="arrow")

                #upload.collapse
                    if (LOGS !== undefined)
                        - let fichierUpload = LOGS.logs.filter(data => data.TYPE === 'uploadFichier');
                        if (fichierUpload.length !== 0)
                            each log, index in fichierUpload
                                hr
                                div
                                    each elem, ind in log
                                        if (ind == "date")
                                            - let dat = new Date(elem);
                                            p(class="ml-2")
                                                strong #{ind}: 
                                                | #{DATE.dateDDMMYYYY(dat)}, #{DATE.dateHHMMSS(dat)} <br>
                                        else if (ind !== "TYPE")
                                            p(class="ml-2") 
                                                strong #{ind}: 
                                                | #{elem}
                        else
                            hr
                            p Aucun cours n'a été mis en ligne
                    else
                        hr
                        p Les Logs ne sont pas disponibles : vous n'avez peut-être pas le grade requis pour les voir

                button(data-toggle="collapse" data-target="#logs" class="text-body list-group-item user-button")
                    .d-flex.align-items-center
                        img(src="/images/id-card.png" alt="profil icon" class="profil-icon")
                        h5(class="m-0 ml-5") Logs
                    img(src="/images/chevron-right.svg" class="arrow")

                #logs.collapse
                    if (LOGS !== undefined)
                        - let logs = LOGS.logs.filter(data => data.TYPE !== 'uploadFichier');
                        each log, index in logs
                            hr
                            div
                                each elem, ind in log
                                    if (ind == 'TYPE')
                                        p(class="mb-2")
                                            strong(style="color: #E53935") #{ind}: 
                                            | #{elem}
                                    else if (ind == "date")
                                        - let dat = new Date(elem);
                                        p(class="ml-2")
                                            strong #{ind}: 
                                            | #{DATE.dateDDMMYYYY(dat)}, #{DATE.dateHHMMSS(dat)} <br>
                                    else
                                        p(class="ml-2") 
                                            strong #{ind}: 
                                            | #{elem}
                    else
                        hr
                        p Les Logs ne sont pas disponibles : vous n'avez peut-être pas le grade requis pour les voir

                a(class="text-body list-group-item d-flex align-items-center" href="https://discord.gg/RXqAu2F")
                    img(src="/images/support.png" alt="profil icon" class="profil-icon")
                    h5(class="m-0 ml-5") Support

                a(class="text-body list-group-item d-flex align-items-center" href="/deconnexion")
                    img(src="/images/logout.png" alt="profil icon" class="profil-icon")
                    h5(class="m-0 ml-5") Déconnexion

        
    script.
        let arrow = document.getElementsByClassName('user-button');

        $('#upload').on('hide.bs.collapse', function () {
            arrow[0].childNodes[1].style.transform = 'rotate(0deg)';
        })

        $('#upload').on('show.bs.collapse', function () {
            arrow[0].childNodes[1].style.transform = 'rotate(90deg)';
        })

        $('#logs').on('hide.bs.collapse', function () {
            arrow[1].childNodes[1].style.transform = 'rotate(0deg)';
        })

        $('#logs').on('show.bs.collapse', function () {
            arrow[1].childNodes[1].style.transform = 'rotate(90deg)';
        })
    script
