body{
    background-color: #DDD;
    font-family: "DejaVu Serif";
    padding: 0;
    margin: 0;
    display: flex;
}

a{
  color: green;
}

.menuDiv{
  display: inline-block;
  height: inherit;
  background-color: #2d3943;
  padding-bottom: 40em;
}

#menu-vertical {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
    width: 12em;
}
  #menu-vertical ul {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
}
  #menu-vertical li {
     background-color:#2d3943; 
     margin-bottom:2px;
}
  #menu-vertical li li {
     max-height:0;
     overflow: hidden;
     background: #2d3943;
     margin:0;
}

  #menu-vertical a {
    display:block;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-family: verdana;
    font-size:1.2em
}

  #menu-vertical ul li a, #menu-vertical li:hover li a {
    font-size:1em;
}
  #menu-vertical li:hover {
     background: #666
}
  #menu-vertical li li:hover {
     background: #666;
}
  #menu-vertical ul li:last-child {
     border:none;
}
  #menu-vertical li:hover li {
    max-height: 15em;
}

.green{
  background-color: rgba(134, 211, 58, 0.5);
}

.red{
  background-color: rgba(226, 19, 19, 0.589);
}

.warning{
  background-color: red;
  color: white;
  border: 1px solid black;
  padding: 0.2em;
  margin: 0.2em;
}

.warning:hover{
  background-color: rgb(175, 43, 43);
}

.green:hover{
  background-color: rgba(134, 211, 58, 0.8);
}

.red:hover{
  background-color: rgba(235, 32, 32, 0.89);
}

p.version{
  position: fixed;
  left: 3%;
  bottom: 1%;
  z-index: 10000000;
}

img.profil{
  position: relative;
  max-height: 5em;
  width: 5em;
  float: right;
  height: inherit;
}

img.profil:hover{
  border: 1px dashed black;
}

.deconnexion{
  position: relative;
  width: 5em;
  height: inherit;
  z-index: 10000000;
  float: right;
}

.deconnexion:hover{
  border: 1px dashed black;
}

.widgets{
  display: inline-block;
  position: fixed;
  z-index: 10000;
  right: 2%;
  bottom: 5%;
  height: 5em;
}